################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/sensor.backend/sensor.api/appsettings.Development.json
