.chart-container {
  flex-grow: 1;
  overflow: auto;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  height: 280px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.date-selection {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
