<button mat-button (click)="openEditDialog()">
  <mat-icon>edit</mat-icon>
  <span>Add Sensor</span>
</button>

<div class="sensor-table">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="rename">
      <th mat-header-cell *matHeaderCellDef>Rename</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openDeleteDialog(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
